version: "3.8"

services:
  fastapi-app:
    env_file:
      - .env
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - mongodb
    environment:
      MONGO_HOST: "mongodb"
      MONGO_PORT: "27017"
      MONGO_DB: "college"
    networks:
      - app-network

  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27018:27018"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

volumes:
  mongo-data:

networks:
  app-network:
